<%- include('partials/header', {title: 'background'}); -%>

<body scroll="no">

    <%- include('partials/imports'); -%>
    <script src="/javascripts/background1/background.js"></script>
    <script src="/javascripts/background1/console.js"></script>

</body>

</html>