<%- include('partials/header', {title: 'background2'}); -%>

<body scroll="no">
    <%- include('partials/imports'); -%>
    <div hidden id="scene"><%= scene %></div>
    <script src="/javascripts/background/background.js"></script>
    <script src="/javascripts/background/console.js"></script>
    <script src="/javascripts/background/vote.js"></script>

</body>

</html>