<%- include('partials/header', {title: 'background2'}); -%>

<body scroll="no">

    <%- include('partials/imports'); -%>
    <script src="/javascripts/background2/background2.js"></script>
    <script src="/javascripts/background1/vote.js"></script>

</body>

</html>