<%- include('partials/header', {title: 'background'}); -%>

<body scroll="no">
    <%- include('partials/imports'); -%>
    <div hidden id="scene"><%= scene %></div>
    <script src="/javascripts/background1/background.js"></script>
    <script src="/javascripts/background1/console.js"></script>
    <script src="/javascripts/background1/vote.js"></script>

</body>

</html>