<%- include('partials/header', {title: 'Dancer View'}); -%>
<link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/dancerView.css">

<body scroll="no">
    <div class="container">
        <div class="row ">
            <div class="col px-0">
                <button id="hideButton" class="btn btn-danger btn-lg" onclick="hideToggle()">X</button>
            </div>
            <div class="col-4 px-0">
                <div class="p-1 mb-2 bg-primary text-white text-center session-l" id="session" onclick="permiso()"><%= session %></div>
            </div>
        </div>
    </div>
    <div id="settings" class="container">
        <div class="row">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col">
                        <h4 class="text-right text-white">Alpha(&alpha;): </h4>
                    </div>
                    <div class="col">
                        <h4 class="text-left text-white" id="alphaTag"></h4>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <h4 class="text-right text-white">Beta(&beta;): </h4>
                    </div>
                    <div class="col">
                        <h4 class="text-left text-white" id="betaTag"></h4>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <h4 class="text-right text-white">Gamma(&gamma;): </h4>
                    </div>
                    <div class="col">
                        <h4 class="text-left text-white" id="gammaTag"></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col px-0 mt-3">
                <h2 class="text-left text-white mx-2">Escena</h2>
            </div>
        </div>
        <div class="row">
            <div class="col px-0">
                <div class="btn-group btn-block">
                    <button id="scene1" type="button" class="btn btn-light btn-lg btn-abg py-4"
                        onclick="changeScene(1)">1</button>
                    <button id="scene2" type="button" class="btn btn-light btn-lg btn-abg"
                        onclick="changeScene(2)">2</button>
                    <!-- <button id="scene3" type="button" class="btn btn-light btn-lg btn-abg"
                        onclick="changeScene(3)">3</button> -->
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col px-0 my-3">
                <div class="btn-group btn-block">
                    <button id="scene4" type="button" class="btn btn-light btn-lg btn-abg  py-4"
                        onclick="changeScene(4)">4</button>
                    <button id="scene5" type="button" class="btn btn-light btn-lg btn-abg"
                        onclick="changeScene(5)">5</button>
                    <button id="scene6" type="button" class="btn btn-light btn-lg btn-abg"
                        onclick="changeScene(6)">6</button>
                </div>
            </div>
        </div> -->
        <div class="row mt-5">
            <button id="colorB" type="button" class="btn btn-light btn-lg btn-block"
                onclick="colorToggle()">color</button>
        </div>
    </div>

    <%- include('partials/imports'); -%>
    <script src="/javascripts/jquery-3.4.0.min.js"></script>
    <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/dancerView/dancer.js"></script>
    <script src="/javascripts/dancerView/logic.js"></script>

</body>

</html>