<!DOCTYPE html>
<html>

<head>
  <title>THUS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link href='/assets/thusicon.ico' rel='shortcut icon'>


</head>

<body>
  <div class="container">
    <h1 class="text-light">INDEX</h1>
    <ul>
      <li>
        <a href="/background"> Fondo </a>
      </li>
      <li>
        <a href="/instruments"> Instrumentos </a>
      </li>
      <li>
        <a href="/sound"> Visualizador de coordenadas </a>
      </li>
      <li>
        <a href="/synth"> Sintetizador </a>
      </li>
      <li>
        <a href="/dancerView"> Dancer View </a>
      </li>
    </ul>
  </div>

  <script src="/javascripts/jquery-3.4.0.min.js"></script>
  <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>