<!DOCTYPE html>
<html>

<head>
  <title>THUS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link href='/assets/thusicon.ico' rel='shortcut icon'>


</head>

<body>
  <div hidden id="scene">
    <%= scene %>
  </div>
  <div class="container p-3">
    <h1 class="text-light">Demo</h1>
    <h2 class="text-light">Diseño de la interacción de usuario orientado al uso en las artes escénicas contemporáneas
    </h2>
  </div>
  <div class="container p-4">
    <h3 class="text-light">interfaces:</h3>
    <ul>
      <li>
        <a href="/dancer">Bailarina</a>
      </li>
      <li>
        <a href="/sound">Músico</a>
      </li>
      <li>
        <a href="/audience">Público</a>
      </li>
      <li>
        <a href="/background">Fondo animado</a>
      </li>
    </ul>
  </div>
  <div class="container p-4">
    <div class="row p-2">
      <button onclick="changeScene(0)">0</button>
      <button onclick="changeScene(1)">1</button>
      <button onclick="changeScene(2)">2</button>
      <button onclick="changeScene(3)">3</button>
      <button onclick="changeScene(4)">4</button>
      <button onclick="changeScene(5)">5</button>
    </div>
    <div class="row p-2">
      <h3 class="text-light m-0" id="scene-tag">Escena:</h3>
    </div>
    <div class="row p-3 text-light">
      <p id="scene-description-0">Escena 0.</p>
      <p id="scene-description-1" hidden>En esta escena se combina el prototipo Control y Sonido con el prototipo Flujo y
        movimiento. <br>
        Durante esta escena se cuelgan tres teléfonos del techo del escenario en un estado pendulante. La bailarina
        inicia la escena impulsando los teléfonos y así inicia su oscilación. El movimiento de la oscilación es
        capturado por la Interfaz de la Bailarina y traducido a sonido por la interfaz del músico. La interfaz Fondo
        animado proyecta una animación que cambia según la oscilación.</p>
      <p id="scene-description-2" hidden>En esta escena se utiliza el prototipo Preguntas. El cual consiste en una votación en
        tiempo real entre los espectadores para decidir el curso de la obra. En esta escena en específico se delimitan
        algunos aspectos de la historia que narra la obra. Se permite al público definir el nombre del personaje, el
        color del vestuario entre otras características.<br>
        En el prototipo Preguntas intervienen las interfaces Público y Fondo Animado. La pregunta es proyectada en ambas
        interfaces con la diferencia que en la interfaz Público se añaden dos botones con las opciones disponibles. Y en
        Fondo Animado se muestran barras porcentuales que reflejan el estado actual de escrutinio. Se añade además una
        Línea de Tiempo que anuncia el fin de la votación.</p>
      <p id="scene-description-3" hidden>Al finalizar la ronda de preguntas la bailarina viste el color del vestuario que el público decidió. Luego toma
        los teléfonos que aún siguen colgados en el escenario y los sujeta a su cuerpo con ayuda de arneses. En ese
        momento los teléfonos empiezan a percibir y transmitir los movimientos de la danza de la bailarina. Los cuales
        son recibidos por la Interfaz del Músico y la del Fondo Animado para ser transformados a luz y sonido. Para esta
        escena se utilizan los prototipos Color y Movimiento (4.4.1.) y Control y Sonido (4.4.4.).</p>
      <p id="scene-description-4" hidden>Al finalizar la ronda de preguntas la bailarina viste el color del vestuario que el público decidió. Luego toma
        los teléfonos que aún siguen colgados en el escenario y los sujeta a su cuerpo con ayuda de arneses. En ese
        momento los teléfonos empiezan a percibir y transmitir los movimientos de la danza de la bailarina. Los cuales
        son recibidos por la Interfaz del Músico y la del Fondo Animado para ser transformados a luz y sonido. Para esta
        escena se utilizan los prototipos Color y Movimiento (4.4.1.) y Control y Sonido (4.4.4.).</p>
      <p id="scene-description-5" hidden>Al finalizar la ronda de preguntas la bailarina viste el color del vestuario que el público decidió. Luego toma
        los teléfonos que aún siguen colgados en el escenario y los sujeta a su cuerpo con ayuda de arneses. En ese
        momento los teléfonos empiezan a percibir y transmitir los movimientos de la danza de la bailarina. Los cuales
        son recibidos por la Interfaz del Músico y la del Fondo Animado para ser transformados a luz y sonido. Para esta
        escena se utilizan los prototipos Color y Movimiento (4.4.1.) y Control y Sonido (4.4.4.).</p>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/index/index.js"></script>
  <script src="/javascripts/jquery-3.4.0.min.js"></script>
  <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>