<!DOCTYPE html>
<html>

<head>
  <title>THUS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link href='/assets/thusicon.ico' rel='shortcut icon'>


</head>

<body>
  <div hidden id="scene"><%= scene %></div>
  <div class="container p-3">
    <h1 class="text-light">Demo</h1>
    <h2 class="text-light">Diseño de la interacción de usuario orientado al uso en las artes escénicas contemporáneas</h2>
  </div>
  <div class="container p-4">
    <h3 class="text-light">interfaces:</h3>
    <ul>
      <li>
        <a href="/dancer">Bailarina</a>
      </li>
      <li>
        <a href="/sound">Músico</a>
      </li>
      <li>
        <a href="/audience">Público</a>
      </li>
      <li>
        <a href="/background">Fondo animado</a>
      </li>
    </ul>
  </div>
  <div class="container p-4">
    <div class="row p-2">
      <button onclick="changeScene(0)">0</button>
      <button onclick="changeScene(1)">1</button>
      <button onclick="changeScene(2)">2</button>
      <button onclick="changeScene(3)">3</button>
      <button onclick="changeScene(4)">4</button>
      <button onclick="changeScene(5)">5</button>
    </div>
    <div class="row p-2">
      <h3 class="text-light m-0" id="scene-tag">Escena:</h3>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/index/index.js"></script>
  <script src="/javascripts/jquery-3.4.0.min.js"></script>
  <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</body>