<%- include('partials/header', {title: 'keyboard'}); -%>

<body scroll="no">

    <h2 style="display:none;" id="session"><%= session %></h2>

    <%- include('partials/imports'); -%>
    <script src="/javascripts/keyboard/logic.js"></script>
    <script src="/javascripts/keyboard/keyboard.js"></script>
    
    
</body>

</html>