<%- include('partials/header', {title: 'kick'}); -%>

<body scroll="no">

    <h2 style="display:none;" id="session"><%= session %></h2>
  
    <script src="/javascripts/kicks/kick.js"></script>
    <script src="/javascripts/kicks/logic.js"></script>
    <%- include('partials/imports'); -%>

</body>
</html>