<%- include('partials/header', {title: 'knob'}); -%>

<body scroll="no">

    <h2 style="display:none;" id="session"><%= session %></h2>
  
    <script src="/javascripts/knob/knob.js"></script>
    <script src="/javascripts/knob/logic.js"></script>
    <%- include('partials/imports'); -%>

</body>
</html>