<%- include('partials/header', {title: 'sound'}); -%>

<body scroll="no">
    <div hidden id="scene"><%= scene %></div>
    <%- include('partials/imports'); -%>
    <script src="/javascripts/sound/sound.js"></script>
</body>

</html>