<%- include('partials/header', {title: 'synth'}); -%>

<body scroll="no">

    <h2 style="display:none;" id="session"><%= session %></h2>

    <script src="/javascripts/synth/synth.js"></script>
    <script src="/javascripts/synth/logic.js"></script>
    <%- include('partials/imports'); -%>
    
</body>

</html>