@font-face {
  font-family: myFirstFont;
  src: url("../assets/BebasNeue-Regular.ttf");
}

.btn-hide{
  font-size:40px;
}

.btn-abg{
  font-size:50px;
  /* size: 100px; */
}

.session-l{
  font-size: 30px;
}