<!DOCTYPE html>
<html>

<head>
  <title>THUS | <%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href='/assets/thusicon.ico' rel='shortcut icon'>
  <!-- <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css"> -->
  <style>
    html,
    body {
      overflow: hidden;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      position: fixed;
    }
    canvas {
      vertical-align: top;
    }
  </style>
</head>